.list_main {
  /* text-align: center; */
  color: rgb(12, 12, 12);
  background-color: rgb(219, 219, 219);
  height: 90%;
  width: 25vw;
  border: 5px solid rgb(255, 255, 255);
  flex-direction: column;
  align-items: center;
  display: flex;
  border-radius: 2vh;
  /* overflow: scroll; */
}

.list_button_group {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-bottom: 2vh;
}

.tasks_container{
  height: 82.5%;
  width: 100%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}