.task_main {
  text-align: start;
  color: rgb(15, 15, 15);
  background-color: rgb(236, 236, 236);
  /* height: 20%; */
  width: 90%;
  margin-bottom: 1%;
  border-radius: 1vh;
}

.seperator {
  margin-top: 1.25vh;
}
