.complete_task {
  text-align: center;
}

.create_list {
  text-align: center;
  height:100%;
  width:100%;
}

.create_task {
  text-align: center;
}

.delete_list {
  text-align: center;
}

.delete_task {
  text-align: center;
}
.move_task {
  text-align: center;
}

.update_task {
  text-align: center;
}
