.app {
  text-align: center;
}

.title_bar {
  text-align: center;
}

.main {
  margin-top: 5vh;
  height: 80vh;
  width: 100vw;
  /* overflow: scroll; */
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.add_list_reminder {
  color: black;
  font-weight: bold;
}